#petList .v545-pet-logo{background-image:url('../assets/images/pets/pets-atlas.webp');background-repeat:no-repeat;background-size:500% 300%;font-size:0;border-color:#3a455c;background-color:#101621}
#petList .drill-card[data-pet-index="0"] .v545-pet-logo{background-position:0% 0%}
#petList .drill-card[data-pet-index="1"] .v545-pet-logo{background-position:25% 0%}
#petList .drill-card[data-pet-index="2"] .v545-pet-logo{background-position:50% 0%}
#petList .drill-card[data-pet-index="3"] .v545-pet-logo{background-position:75% 0%}
#petList .drill-card[data-pet-index="4"] .v545-pet-logo{background-position:100% 0%}
#petList .drill-card[data-pet-index="5"] .v545-pet-logo{background-position:0% 50%}
#petList .drill-card[data-pet-index="6"] .v545-pet-logo{background-position:25% 50%}
#petList .drill-card[data-pet-index="7"] .v545-pet-logo{background-position:50% 50%}
#petList .drill-card[data-pet-index="8"] .v545-pet-logo{background-position:75% 50%}
#petList .drill-card[data-pet-index="9"] .v545-pet-logo{background-position:100% 50%}
#petList .drill-card[data-pet-index="10"] .v545-pet-logo{background-position:0% 100%}
#petList .drill-card[data-pet-index="11"] .v545-pet-logo{background-position:25% 100%}
#petList .drill-card[data-pet-index="12"] .v545-pet-logo{background-position:50% 100%}
#petList .drill-card[data-pet-index="13"] .v545-pet-logo{background-position:75% 100%}
#petList .drill-card[data-pet-index="14"] .v545-pet-logo{background-position:100% 100%}
